.header {
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: 0 0 2px var(--color-grey);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 2rem;
  width: 100%;
  max-width: var(--site-max-width);
  padding: 1rem;
}

.wrapper h1 {
  font-size: var(--size-medium);
}
