.button {
  margin: auto 0;
  font-size: var(--size-small);
  color: var(--color-white);
  background-color: var(--color-purple);
}

.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: var(--site-max-width);
  padding: 1rem;
}

.filter {
  display: flex;
  gap: 0.5rem;
}
