.navigation ul {
  display: flex;
  gap: 0.5rem;
}

.navigation .login a {
  background-color: var(--color-purple);
  color: var(--color-white);
}

.navigation li:first-child {
  display: none;
}

@media (min-width: 768px) {
  .navigation li:first-child {
    display: block;
  }
}
