.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: 0 0 2px var(--color-grey);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 1rem 2rem;
  }
}

.wrapper h1 {
  font-size: var(--size-medium);
}
