.dogs {
  width: 100%;
  max-width: var(--site-max-width);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
}

.imageContainer {
  position: relative;
  height: 350px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.imageContainer img {
  object-fit: cover;
  border-radius: 8px;
}
